.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries/
/.idea/caches/
/.idea/misc.xml
/build/

/android-betterpickers/build/
/AndroidClearChroma/build/
/common/build/
/noobcameraflash/build/
/phoneProfilesImport/build/
/phoneProfilesPlus/build/
/recyclerview-fastscroll/build/
/RootShell/build/
/RootTools/build/
/time-duration-picker/build/
/ToastCompat/build/
/passwords_keys.gradle
