.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/caches
/.idea/misc.xml
/build

/RootShell/build
/RootTools/build
/android-betterpickers/build
/time-duration-picker/build
/phoneProfilesPlus/build
