.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build

/dragSortListView/build
/materialPreferences/build
/masked-edittext/build
/RootShell/build
/RootTools/build
/phoneProfilesPlus/build
