<?xml version="1.0" encoding="utf-8"?>
<manifest package="sk.henrichg.phoneprofilesplus"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          android:installLocation="internalOnly">

    <!-- android:installLocation="internalOnly" is needed for working BOOT_COMPLETED broadcast -->

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true"/>

    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>
    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <!-- <uses-permission android:name="android.permission.USE_SIP"/> -->
    <uses-permission android:name="com.android.vending.BILLING"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!--
         <uses-permission android:name="android.permission.OVERRIDE_WIFI_CONFIG"
                     tools:ignore="ProtectedPermissions"/>
    -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
<!--    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"  tools:ignore="ProtectedPermissions" />-->

    <uses-permission android:name="sk.henrichg.phoneprofilesplusextender.ACCESSIBILITY_SERVICE_PERMISSION"/>

    <!-- for Samsung SLook -->
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY"/>

<!--    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />-->

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.location"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.sensor.compass"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.sensor.proximity"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.sensor.light"
        android:required="false"/>

    <application
        android:name=".PPApplication"
        android:allowBackup="true"
        android:backupAgent=".PhoneProfilesBackupAgent"
        android:fullBackupContent="@xml/phoneprofiles_backup_scheme"
        android:fullBackupOnly="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:resizeableActivity="true"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">
<!--        android:largeHeap="true"-->

        <!-- support for 18.5:9 display (Samsung Galaxy S8, LG G6) -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4"/>

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>

        <!-- Google Backup key -->
        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIP7KUKJY6Yrqkov5SWxTVUdqPJvIT8OHO5MeQKw"/>

        <!-- Fabric key -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="795384c10c1c3eec6489c1d2fcf5e444d013da7d"/>

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <activity
            android:name=".LauncherActivity"
            android:label="@string/title_activity_phone_profiles"
            android:excludeFromRecents="true"
            android:taskAffinity="sk.henrichg.phoneprofilesplus.empty"
            android:theme="@style/EmptyAppCompatActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ActivateProfileActivity"
            android:label="@string/title_activity_activator"
            android:excludeFromRecents="true"
            android:taskAffinity="sk.henrichg.phoneprofilesplus.popup"
            android:theme="@style/PopupTheme_withToolbar_dayNight">
        </activity>

        <activity
            android:name=".EditorProfilesActivity"
            android:label="@string/title_activity_editor"
            android:theme="@style/Theme.PhoneProfilesTheme_withToolbar_dayNight">
        </activity>
        <activity
            android:name=".ProfilesPrefsActivity"
            android:label="@string/title_activity_profile_preferences">
        </activity>
        <!--
        <activity
            android:name=".EventPreferencesActivity"
            android:label="@string/title_activity_event_preferences">
        </activity>
        -->
        <activity
            android:name=".EventsPrefsActivity"
            android:label="@string/title_activity_event_preferences">
        </activity>
        <!--
        <activity
            android:name=".PhoneProfilesPreferencesActivity"
            android:label="@string/title_activity_phone_profiles_preferences">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.NOTIFICATION_PREFERENCES"/>
            </intent-filter>
        </activity>
        -->
        <activity
            android:name=".PhoneProfilesPrefsActivity"
            android:label="@string/title_activity_phone_profiles_preferences">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.NOTIFICATION_PREFERENCES"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ShortcutCreatorActivity"
            android:excludeFromRecents="true"
            android:icon="@drawable/ic_shortcut"
            android:label="@string/title_activity_shortcut_creator"
            android:taskAffinity="sk.henrichg.phoneprofilesplus.popup"
            android:theme="@style/PopupTheme_dayNight">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".BackgroundActivateProfileActivity"
            android:excludeFromRecents="true"
            android:label="@string/empty_string"
            android:taskAffinity="sk.henrichg.phoneprofilesplus.shortcut"
            android:theme="@style/EmptyAppCompatActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivateProfileFromExternalApplicationActivity"
            android:excludeFromRecents="true"
            android:label="@string/empty_string"
            android:taskAffinity="sk.henrichg.phoneprofilesplus.externalApp"
            android:theme="@style/EmptyAppCompatActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ActionForExternalApplicationActivity"
            android:excludeFromRecents="true"
            android:label="@string/empty_string"
            android:taskAffinity="sk.henrichg.phoneprofilesplus.externalApp"
            android:theme="@style/EmptyAppCompatActivity">
            <intent-filter>
                <action android:name="sk.henrichg.phoneprofilesplus.ACTION_ACTIVATE_PROFILE"/>
                <action android:name="sk.henrichg.phoneprofilesplus.ACTION_RESTART_EVENTS"/>
                <action android:name="sk.henrichg.phoneprofilesplus.ACTION_ENABLE_RUN_FOR_EVENT"/>
                <action android:name="sk.henrichg.phoneprofilesplus.ACTION_PAUSE_EVENT"/>
                <action android:name="sk.henrichg.phoneprofilesplus.ACTION_STOP_EVENT"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".RestartEventsFromGUIActivity"
            android:excludeFromRecents="true"
            android:label="@string/empty_string"
            android:taskAffinity="sk.henrichg.phoneprofilesplus.empty"
            android:theme="@style/EmptyAppCompatActivity">
        </activity>
        <activity
            android:name=".ActivityLogActivity"
            android:label="@string/title_activity_activity_log">
        </activity>
        <activity
            android:name=".ImportantInfoActivity"
            android:label="@string/important_info_activity_title">
        </activity>
        <activity
            android:name=".GrantPermissionActivity"
            android:excludeFromRecents="true"
            android:label="@string/empty_string"
            android:theme="@style/EmptyAppCompatActivity">
        </activity>
        <activity
            android:name=".LocationGeofenceEditorActivity"
            android:label="@string/location_editor_title">
        </activity>
        <activity
            android:name=".GeofenceScannerErrorActivity"
            android:excludeFromRecents="true"
            android:label="@string/empty_string"
            android:taskAffinity="sk.henrichg.phoneprofilesplus.empty"
            android:theme="@style/EmptyAppCompatActivity">
        </activity>
        <activity
            android:name=".LaunchShortcutActivity"
            android:excludeFromRecents="true"
            android:label="@string/empty_string"
            android:taskAffinity="sk.henrichg.phoneprofilesplus.empty"
            android:theme="@style/EmptyAppCompatActivity">
        </activity>
        <activity
            android:name=".AboutApplicationActivity"
            android:label="@string/about_application_title">
        </activity>
        <activity
            android:name=".NFCTagWriteActivity"
            android:label="@string/nfc_tag_pref_dlg_writeTagTitle">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <!--<activity android:name=".NFCTagReadEditorActivity"
            android:label="@string/nfc_tag_pref_dlg_read_tag_editor_title">
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED"/>
                <action android:name="android.nfc.action.TECH_DISCOVERED"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="android.nfc.action.TECH_DISCOVERED"
                       android:resource="@xml/filter_nfc" />
        </activity>-->
        <activity
            android:name=".NFCTagReadActivity"
            android:excludeFromRecents="true"
            android:label="@string/empty_string"
            android:taskAffinity="sk.henrichg.phoneprofilesplus.empty"
            android:theme="@style/EmptyAppCompatActivity">
            <intent-filter>
                <!--<action android:name="android.nfc.action.TECH_DISCOVERED"/>
                <action android:name="android.nfc.action.TAG_DISCOVERED"/>-->

                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
                <data android:mimeType="application/vnd.phoneprofilesplus.events"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <!--<meta-data android:name="android.nfc.action.TECH_DISCOVERED"
                       android:resource="@xml/filter_nfc" />-->
        </activity>
        <activity
            android:name=".DonationActivity"
            android:label="@string/donation_activity_title">
        </activity>
        <activity
            android:name=".ActivatorTargetHelpsActivity"
            android:label="@string/empty_string"
            android:excludeFromRecents="true"
            android:theme="@style/EmptyTargetHelpsActivity">
        </activity>
        <activity
            android:name=".LockDeviceActivity"
            android:label="@string/app_name"
            android:excludeFromRecents="true"
            android:taskAffinity="sk.henrichg.phoneprofilesplus.lockDevice"
            android:theme="@style/LockDeviceActivity">
        </activity>
        <activity
            android:name=".ExitApplicationActivity"
            android:excludeFromRecents="true"
            android:label="@string/empty_string"
            android:taskAffinity="sk.henrichg.phoneprofilesplus.empty"
            android:theme="@style/EmptyAppCompatActivity">
        </activity>
        <activity
            android:name=".ApplicationEditorIntentActivityX"
            android:label="@string/intent_editor_title"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name=".NotUsedMobileCellsDetectedActivity"
            android:excludeFromRecents="true"
            android:label="@string/empty_string"
            android:taskAffinity="sk.henrichg.phoneprofilesplus.empty"
            android:theme="@style/EmptyAppCompatActivity">
        </activity>
        <activity
            android:name=".BackgroundBrightnessActivity"
            android:excludeFromRecents="true"
            android:label="@string/empty_string"
            android:taskAffinity="sk.henrichg.phoneprofilesplus.empty"
            android:theme="@style/BackgroundBrightnessActivity">
        </activity>

        <!-- implicit broadcast receivers, in Android O exception group -->
        <!-- https://developer.android.com/guide/components/broadcast-exceptions.html -->
        <receiver
            android:name=".BootUpReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".LocaleChangedReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.LOCALE_CHANGED"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
<!--        <receiver
            android:name=".TimeChangedReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver> -->
        <receiver android:name=".NextAlarmClockBroadcastReceiver"
                  android:enabled="true"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.app.action.NEXT_ALARM_CLOCK_CHANGED"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>

        <!-- no implicit broadcast receivers -->
        <receiver
            android:name=".PackageReplacedReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>

        <!-- widget providers -->
        <receiver
            android:name=".IconWidgetProvider"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/widget_label_icon">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/icon_widget_info"/>
        </receiver>
        <receiver
            android:name=".OneRowWidgetProvider"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/widget_label_one_row">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/one_row_widget_info"/>
        </receiver>
        <receiver
            android:name=".ProfileListWidgetProvider"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/widget_label_list">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/profile_list_widget_info"/>
        </receiver>
        <receiver
            android:name=".SamsungEdgeProvider"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.samsung.android.cocktail.v2.action.COCKTAIL_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="com.samsung.android.cocktail.provider"
                android:resource="@xml/samsung_edge"/>
        </receiver>


        <!-- pending intents -->
        <!--
        <receiver
            android:name=".PermissionsNotificationDeletedReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="sk.henrichg.phoneprofilesplus.PERMISSIONS_NOTIFICATION_DELETED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".StartEventNotificationDeletedReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="sk.henrichg.phoneprofilesplus.START_EVENT_NOTIFICATION_DELETED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".NotUsedMobileCellsNotificationDeletedReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="sk.henrichg.phoneprofilesplus.NEW_MOBILE_CELLS_NOTIFICATION_DELETED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".SIPCallBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="sk.henrichg.phoneprofilesplus.INCOMING_SIPCALL"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".StartLauncherFromNotificationReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="sk.henrichg.phoneprofilesplus.ACTION_START_LAUNCHER_FROM_NOTIFICATION"/>
            </intent-filter>
        </receiver>
        -->

        <!-- main service -->
        <service
            android:name=".PhoneProfilesService"
            android:exported="false"
            android:stopWithTask="false"/>
        <!-- TODO: Android 10
        <service
            android:name=".PhoneProfilesService"
            android:exported="false"
            android:stopWithTask="false"
            android:foregroundServiceType="location|connectedDevice"/>
        -->

        <!-- widget services -->
        <service
            android:name=".ProfileListWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>
        <service
            android:name=".SamsungEdgeService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>
        <service
            android:name=".PhoneProfilesDashClockExtension"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/ic_dashclock"
            android:label="@string/app_name"
            android:permission="com.google.android.apps.dashclock.permission.READ_EXTENSION_DATA">
            <intent-filter>
                <action android:name="com.google.android.apps.dashclock.Extension"/>
            </intent-filter>
            <meta-data
                android:name="protocolVersion"
                android:value="2"/>
            <meta-data
                android:name="worldReadable"
                android:value="true"/>
            <meta-data
                android:name="description"
                android:value="@string/dashclock_extension_description"/>
        </service>

        <!-- other services -->
        <service
            android:name=".PPNotificationListenerService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService"/>
            </intent-filter>
        </service>
        <service
            android:name=".MobileCellsRegistrationService"
            android:enabled="true"
            android:stopWithTask="false"/>

    </application>

</manifest>